[submodule "resume"]
path = resume
url = git@github.com:cbebe/.resume
[submodule "themes/risotto"]
path = themes/risotto
url = https://github.com/cbebe/risotto.git
[submodule "turnip"]
	path = turnip
	url = git@github.com:cbebe/turnip
