{{ define "head" }}
{{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed")}}
{{ $style := resources.Get "styles/pou.scss" | resources.ToCSS $options }}
{{ $script := resources.Get "pou.js" }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</noscript>
<script src="{{ $script.Permalink }}" defer></script>
{{ end }} 
{{ define "main" }}
<header class="content__header">
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
</header>
<div class="piano"></div>
<noscript>
  <p>Pou won't show up without JavaScript :(</p>
</noscript>
<div class="confetti-container hidden">
  <div class="confetti"></div>
</div>
<button id="toggle-confetti">Toggle Confetti</button>
{{ end }}

{{ define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) }}
        <p>
            {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
        </p>
        {{ if .Params.tags }}
            <p>
                tags:
            {{ range .Params.tags }}
                <a href="/tags/{{ . }}">{{ . }}</a>
            {{ end }}
            </p>
        {{ end}}
    {{ end }}
{{ end }}
