@mixin bold {
  line-height: 1.5rem;
  font-weight: bold;
  color: var(--fg);
  font-size: 1rem;
  background: var(--muted);
  font-family: var(--font-monospace);
  margin: 0.5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.turnip-form {
  flex-direction: column;
  width: 100%;

  label {
    font-weight: bold;
    margin: 0 0.5rem;
  }

  input {
    @include bold;
    min-width: 50%;
  }

  button {
    @include bold;
  }

  select {
    @include bold;
  }

  .days {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-width: 80%;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

#results-table {
  position: absolute;
  > table {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--inner-bg);
    width: 100%;

    tr {
      text-align: center;
    }
  }
}
