@mixin bold {
    line-height: 1.5rem;
    font-weight: bold;
    color: var(--fg);
    font-size: 1rem;
    background: var(--muted);
    font-family: var(--font-monospace);
    margin: 0.5rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.turnip-form {
    flex-direction: column;
    width: 100%;

    label {
        font-weight: bold;
        margin: 0 0.5rem;
    }

    input {
        @include bold;
        min-width: 50%;
    }

    button {
        @include bold;
    }

    select {
        @include bold;
    }
}

.turnip-form .days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 80%;
}