.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttonSpaced {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 600px) {
  .buttonSpaced {
    margin-top: 1rem;
  }
}

.withSvg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonSvg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.svg {
  transform: translateY(20px);
  animation: moveUp 1s 0s ease-in forwards;
  width: 400px;
  height: 250px;
}

@media screen and (max-width: 600px) {
  .svg {
    width: 80vw;
    height: auto;
  }
}

.svg path {
  stroke-dasharray: 120%;
  animation: hi 1s 0.25s ease-in forwards;
  opacity: 0;
  stroke-dashoffset: 120%;
}

@keyframes moveUp {
  100% {
    transform: translateY(0px);
  }
}

@keyframes hi {
  100% {
    opacity: 1;
    stroke-dashoffset: 0%;
  }
}
