.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttonSpaced {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 600px) {
  .buttonSpaced {
    margin-top: 1rem;
  }
}

.withSvg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonSvg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
