.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex-direction: column;
  align-items: center;
}

.softieWrapper {
  display: flex;
  align-items: center;
}

.softie {
  text-align: center;
  animation: softFadeIn 1s 1.25s linear forwards;
  opacity: 0;
}

.vmoji {
  width: 2.5rem;
  animation: softFadeIn 1s 1.25s linear forwards;
  opacity: 0;
}

.mirror {
  transform: rotateY(180deg);
}

@keyframes softFadeIn {
  100% {
    opacity: 1;
  }
}

.vmoji svg {
  animation: blow 0.5s 1.25s linear alternate infinite;
}

@keyframes blow {
  100% {
    transform: scale(1.125);
  }
}
