{{ $style := resources.Get "styles/pou.css" | resources.Minify | resources.Fingerprint "sha512" }}
{{ $script := resources.Get "pou.js" | resources.Fingerprint "sha512" }}
<link rel="preload" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />
</noscript>
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
<div class="piano"></div>
<noscript>
  <p>Pou won't show up without JavaScript :(</p>
</noscript>
<div class="confetti-container hidden">
  <div class="confetti"></div>
</div>
<button id="toggle-confetti">Toggle Confetti</button>
