{{ define "head" }}
{{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed")}}
{{ $style := resources.Get "styles/quicklinks.scss" | resources.ToCSS $options | resources.Fingerprint "sha512" }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" integrity="{{ $style.Data.Integrity }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</noscript>
{{ end }}

{{ define "main" }}
<header class="content__header">
    <h1>{{ .Title | markdownify }}</h1>
</header>
<div class="content__body">
    {{ .Content }}
</div>
{{ end }}
